@import "tailwindcss";


:root {
  --wa-scrollbar-track: #e9f7ef;
  /* light WhatsApp green */
  --wa-scrollbar-thumb: #9be7bd;
  /* soft green */
  --wa-scrollbar-hover: #25d366;
  /* WhatsApp green */
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--wa-scrollbar-track);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--wa-scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid var(--wa-scrollbar-track);
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--wa-scrollbar-hover);
}